@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {	
    --font1: 'Outfit', sans-serif;
    --font2: 'Roboto', sans-serif;
    --font3: 'Zilla Slab', serif;
    --sky: #73C7E3;
    --linen: #FFF9F0;
    --turqouise: #24b0ba;
    --light: #f0f2f2;
    --navy: #2E4a70;
}

body {
    color: white;
    margin: 0;
    background-color: #ffffe6;
    background-image: url("../pics/tb1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    width: 100%;
    background-color: var(--linen); 
    display: flex;
    align-items: center;
}

.navbar a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.mcu1, .mcu2 {
    height: 50px;
    padding: 0px 10px;
}

.navbar .title {
    font-family: var(--font1);
    font-size: 2em;
    font-weight: bold;
    margin-left: 20px;
}

.header {
    font-size: 4em;
    font-family: var(--font2);
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
}

.intro {
    min-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding-left: 50px; 
}

.subtitle {
    font-size: 1em;
    font-family: var(--font1);
}

.intro a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: var(--font1);
}

.intro a:active {
    color: var(--sky);
}
.proceed{
	font-size:1.5em;
	
	
}
.proceed:active{
	background-color:var(--turqouise);
}
/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .navbar .title {
        font-size: 1.5em;
        margin-left: 10px;
    }

    .mcu1, .mcu2 {
        height: 40px;
        padding: 0px 5px;
    }

    .header {
        font-size: 2em;
    }

    .intro {
        padding-left: 20px;
        align-items: center;
        text-align: center;
    }

    .subtitle {
        font-size: 0.8em;
    }

    .intro a {
        font-size: 0.8em;
    }
}
